.user_details {
  width: 100%;
}
.username_profile {
  display: block;
  margin-left: 30px;
  margin-bottom: 0;
}
.tagline {
  margin: 20px;
  display: inline-block;
  width: 50%;
  font-style: italic;
  font-size: x-large;
  /* margin-right: 50px; */
}

.category_profile {
  margin: 20px;
  display: inline-block;
  width: 50%;
  font-size: x-large;
}
.tagline_box {
  float: center;
}

#bio_div {
  margin: 20px;
  display: inline-block;
  width: 50%;
  /* float: center; */
}

.profile_pic {
  float: left;
  border-radius: 40px;
  display: block;
  width: 40%;
  min-height: 90px;
  border: 3px solid var(--primary);
  margin: calc(10vh - 50px) auto 0 30px;
  box-shadow: -5px -5px 0 -3px var(--background), -5px -5px var(--green),
    -10px -10px 0 -3px var(--background), -10px -10px var(--yellow),
    -15px -15px 0 -3px var(--background), -15px -15px var(--orange),
    -20px -20px 0 -3px var(--background), -20px -20px var(--red);
  transition: box-shadow 1s, top 1s, left 1s;
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
}
/* .profile_pic:hover {
  top: -20px;
  left: 20px;
  box-shadow: 0 0 0 -3px var(--background), 0 0 0 0 var(--green),
    0 0 0 -3px var(--background), 0 0 0 0 var(--yellow),
    0 0 0 -3px var(--background), 0 0 0 0 var(--orange),
    0 0 0 -3px var(--background), 0 0 0 0 var(--red);
} */

:root {
  --primary: #bae1ff;
  --secondary: #baa6ff;
  --background: #f9f9e3;
  --green: #baffb3;
  --yellow: #fdf398;
  --orange: #ffd2b3;
  --red: #ffb3ba;
}

span#Fantasy,
span#Graphic-Novels-and-Comics,
span#Historical-Fiction,
span#Horror,
span#Non-Fiction,
span#Poetry,
span#Romance,
span#Sci-Fi,
span#Thriller,
span#Young-Adult,
span#Mystery {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 2px;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Antic Slab", serif;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
}

span#Fantasy {
  background-color: #ffb3ba;
}

span#Graphic-Novels-and-Comics {
  background-color: #ffd2b3;
}

span#Historical-Fiction {
  background-color: #fdf398;
}

span#Horror {
  background-color: #baffb3;
}

span#Non-Fiction {
  background-color: #bae1ff;
}
span#Poetry {
  background-color: #baa6ff;
}
span#Romance {
  background-color: #ffb3ba;
}

span#Sci-Fi {
  background-color: #ffd2b3;
}
span#Thriller {
  background-color: #fdf398;
}
span#Young-Adult {
  background-color: #baffb3;
}
span#Mystery {
  background-color: #bae1ff;
}
