/* * {
  border: solid;
} */
.project_details {
  display: flex;
  flex-wrap: wrap;

  /* flex-direction: row; */
}
.project_image {
  /* float: left; */
  width: 45%;
  margin: 10px;
  border-radius: 40px;
}
.project_summary_details {
  display: flex;
  flex-direction: column;
  width: 48%;
  margin: 0;
  /* flex-grow: 2; */
  /* width: 50%; */
}
#project_contents {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 0;
}
#sample_box {
  border-radius: 40px;
  /* box-shadow: 2px 7px 6px #bae1ff; */
  background-color: #f9f9e3;
  padding: 13px;
}

#description_box {
  background-color: #f9f9e3;
  border-radius: 40px;
  padding: 13px;
}
