/* * {
  border: solid;
} */
.project_details {
  width: 100%;
}
/* flex-direction: row; */

.project_summary_details {
  display: inline-block;
  width: 50%;
  margin: 20px;
  /* flex-grow: 2; */
  /* width: 50%; */
}
#project_contents {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 30px;
}

.project_image {
  float: left;
  border-radius: 40px;
  display: block;
  width: 40%;
  min-height: 90px;
  border: 3px solid var(--primary);
  margin: calc(10vh - 50px) auto 0 30px;
  box-shadow: -5px -5px 0 -3px var(--background), -5px -5px var(--green),
    -10px -10px 0 -3px var(--background), -10px -10px var(--yellow),
    -15px -15px 0 -3px var(--background), -15px -15px var(--orange),
    -20px -20px 0 -3px var(--background), -20px -20px var(--red);
  transition: box-shadow 1s, top 1s, left 1s;
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
}
/* .profile_pic:hover {
  top: -20px;
  left: 20px;
  box-shadow: 0 0 0 -3px var(--background), 0 0 0 0 var(--green),
    0 0 0 -3px var(--background), 0 0 0 0 var(--yellow),
    0 0 0 -3px var(--background), 0 0 0 0 var(--orange),
    0 0 0 -3px var(--background), 0 0 0 0 var(--red);
} */

:root {
  --primary: #bae1ff;
  --secondary: #baa6ff;
  --background: #f9f9e3;
  --green: #baffb3;
  --yellow: #fdf398;
  --orange: #ffd2b3;
  --red: #ffb3ba;
}

div#Fantasy {
  display: inline-block;

  padding: 0.3em 1.2em;
  /* margin: 0 0.1em 0.1em 0; */
  margin: 2px;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Antic Slab", serif;
  font-weight: 300;
  color: #ffffff;
  /* text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35); */
  text-align: center;
  transition: all 0.2s;
  background-color: #ffb3ba;
}

div#Graphic-Novels-and-Comics {
  display: inline-block;

  padding: 0.3em 1.2em;
  /* margin: 0 0.1em 0.1em 0; */
  margin: 2px;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Antic Slab", serif;
  font-weight: 300;
  color: #ffffff;
  /* text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35); */
  text-align: center;
  transition: all 0.2s;
  background-color: #ffd2b3;
}

div#Historical-Fiction {
  display: inline-block;

  padding: 0.3em 1.2em;
  /* margin: 0 0.1em 0.1em 0; */
  margin: 2px;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Antic Slab", serif;
  font-weight: 300;
  color: #ffffff;
  /* text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35); */
  text-align: center;
  transition: all 0.2s;
  background-color: #fdf398;
}

div#Horror {
  display: inline-block;

  padding: 0.3em 1.2em;
  /* margin: 0 0.1em 0.1em 0; */
  margin: 2px;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Antic Slab", serif;
  font-weight: 300;
  color: #ffffff;
  /* text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35); */
  text-align: center;
  transition: all 0.2s;
  background-color: #baffb3;
}

div#Non-Fiction {
  display: inline-block;

  padding: 0.3em 1.2em;
  /* margin: 0 0.1em 0.1em 0; */
  margin: 2px;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Antic Slab", serif;
  font-weight: 300;
  color: #ffffff;
  /* text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35); */
  text-align: center;
  transition: all 0.2s;
  background-color: #bae1ff;
}
div#Poetry {
  display: inline-block;

  padding: 0.3em 1.2em;
  /* margin: 0 0.1em 0.1em 0; */
  margin: 2px;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Antic Slab", serif;
  font-weight: 300;
  color: #ffffff;
  /* text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35); */
  text-align: center;
  transition: all 0.2s;
  background-color: #baa6ff;
}
div#Romance {
  display: inline-block;

  padding: 0.3em 1.2em;
  margin: 2px;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Antic Slab", serif;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
  background-color: #ffb3ba;
}
div#Sci-Fi {
  display: inline-block;

  padding: 0.3em 1.2em;
  /* margin: 0 0.1em 0.1em 0; */
  margin: 2px;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Antic Slab", serif;
  font-weight: 300;
  color: #ffffff;
  /* text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35); */
  text-align: center;
  transition: all 0.2s;
  background-color: #ffd2b3;
}
div#Thriller {
  display: inline-block;

  padding: 0.3em 1.2em;
  /* margin: 0 0.1em 0.1em 0; */
  margin: 2px;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Antic Slab", serif;
  font-weight: 300;
  color: #ffffff;
  /* text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35); */
  text-align: center;
  transition: all 0.2s;
  background-color: #fdf398;
}
div#Young-Adult {
  display: inline-block;

  padding: 0.3em 1.2em;
  /* margin: 0 0.1em 0.1em 0; */
  margin: 2px;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Antic Slab", serif;
  font-weight: 300;
  color: #ffffff;
  /* text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35); */
  text-align: center;
  transition: all 0.2s;
  background-color: #baffb3;
}
div#Mystery {
  display: inline-block;

  padding: 0.3em 1.2em;
  /* margin: 0 0.1em 0.1em 0; */
  margin: 2px;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Antic Slab", serif;
  font-weight: 300;
  color: #ffffff;
  /* text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35); */
  text-align: center;
  transition: all 0.2s;
  background-color: #bae1ff;
}
div#All {
  background-color: #baa6ff;
}
