@import url("https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap");

* {
  font-family: "Antic Slab", serif;
  color: #544239;
  font-size: 17px;
  /* border: solid; */
}
h1 {
  font-size: 40px;
}

h3 {
  font-size: 25px;
  /* padding: 5px; */
  margin-top: 5px;
  margin-bottom: 5px;
}

h2 {
  font-size: 35px;
  margin-top: 5px;
  margin-bottom: 5px;
}
body {
  background-image: url("ricepaper.png");
}

#project-list {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  column-gap: 10px;
  row-gap: 10px;
}

.logo {
  width: 100%;
}

.nav_bar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 7px;
}
a {
  color: #baa6ff;
  text-decoration: none;
  font-size: 20px;
  /* 
  margin: 2px;
  padding-right: 8px;
  padding-left: 8px; */
}

/*  unvisited link */
*/ a:link {
  color: #baa6ff;
}

/* visited link */
a:visited {
  color: #baa6ff;
}

/* mouse over link */
a:hover {
  color: #ffb3ba;
}

/* selected link */
a:active {
  color: #bae1ff;
}
#category_buttons {
  display: block;
  text-align: center;
}

#fantasy {
  background-color: #ffb3ba;
}

#comics {
  background-color: #ffd2b3;
}

#historical_fiction {
  background-color: #fdf398;
}

#horror {
  background-color: #baffb3;
}

#non_fiction {
  background-color: #bae1ff;
}
#poetry {
  background-color: #baa6ff;
}
#romance {
  background-color: #ffb3ba;
}
#scifi {
  background-color: #ffd2b3;
}
#thriller {
  background-color: #fdf398;
}
#young_adult {
  background-color: #baffb3;
}
#mystery {
  background-color: #bae1ff;
}
#all {
  background-color: #baa6ff;
}

button {
  display: inline-block;

  padding: 0.3em 1.2em;
  /* margin: 0 0.1em 0.1em 0; */
  margin: 2px;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Antic Slab", serif;
  font-weight: 300;
  color: #ffffff;
  background-color: #baa6ff;
  /* text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35); */
  text-align: center;
  transition: all 0.2s;
}
button:hover {
  border-color: rgba(255, 255, 255, 1);
}
@media all and (max-width: 30em) {
  button {
    display: block;
    margin: 0.2em auto;
  }
}

form {
  display: inline-block;
  /* text-align: center; */
  /* text-align: center; */
  width: 70%;
  /* margin: auto; */
}
input,
select,
textarea {
  /* In order to define widths */
  display: inline-block;
  height: 50px;
  border: none;
  width: 100%;
  margin: 2px;
  background-color: #f9f9e3;
}
textarea {
  height: 100px;
}
label {
  /* width: 30%; */
  text-align: left;
  margin-top: 10px;
  display: inline-block;
  height: 10px;
  border: none;
  /* width: 70%; */
}
.form {
  display: inline-block;
  text-align: center;
  width: 100%;
}
.project-card {
  display: block;
  width: 90%;
  min-height: 90px;
  border: 3px solid var(--primary);
  margin: calc(10vh - 50px) auto 0 auto;
  box-shadow: 5px -5px 0 -3px var(--background), 5px -5px var(--green),
    10px -10px 0 -3px var(--background), 10px -10px var(--yellow),
    15px -15px 0 -3px var(--background), 15px -15px var(--orange),
    20px -20px 0 -3px var(--background), 20px -20px var(--red);
  transition: box-shadow 1s, top 1s, left 1s;
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
}
.project-card:hover {
  top: -20px;
  left: 20px;
  box-shadow: 0 0 0 -3px var(--background), 0 0 0 0 var(--green),
    0 0 0 -3px var(--background), 0 0 0 0 var(--yellow),
    0 0 0 -3px var(--background), 0 0 0 0 var(--orange),
    0 0 0 -3px var(--background), 0 0 0 0 var(--red);
}

:root {
  --primary: #bae1ff;
  --secondary: #baa6ff;
  --background: #f9f9e3;
  --green: #baffb3;
  --yellow: #fdf398;
  --orange: #ffd2b3;
  --red: #ffb3ba;
}

/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

/* body {
  background-image: radial-gradient(
    var(--secondary) 30%,
    var(--background) 30%
  );
  background-size: 2px 3px;
  font-family: "Archivo", sans-serif;
  color: var(--primary);
} */

.project-card p {
  font-size: 12px;
  /* letter-spacing: 0.5px; */
  margin-bottom: 5px;
}
